[submodule "src/epsilon_control"]
	path = src/epsilon_control
	url = https://github.com/1unarzDev/epsilon_control.git
	branch = main
[submodule "src/ros_tcp_endpoint"]
	path = src/ros_tcp_endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
	branch = main-ros2
[submodule "src/epsilon_teleop"]
	path = src/epsilon_teleop
	url = https://github.com/Project-Nebula-AUV/epsilon_teleop.git
